.footer-map
  .footer-map__left
    ul.navigete__list
      li.navigate__item
        a.navigate__link(href="#") Мои работы
      li.navigate__item
        a.navigate__link(href="#") Обо мне
      li.navigate__item
        a.navigate__link(href="#") Блог 
      li.navigate__item
        a.navigate__link(href="#") Авторизация
    .footer-map__description Я веб разработчик из Атырау 
  .footer-map__right
    ul.social__item
      li.social__item
        a.social__link(href="") vk  
      li.social__item
        a.social__link(href="") git
      li.social__item
        a.social__link(href="") lindin   
    .copy-right @ Веселов Евгений | сделано с любовь 2018
        
