section.l-section.l-works.js-section-two
  svg.c-triangle.c-triangle__left.c-triangle--works(viewbox="0 0 1000 150" preserveAspectRatio="none")
    polygon(points="0,0 0,150 1000, 150")
  svg.c-triangle.c-triangle__right.c-triangle--works(viewbox="0 0 1000 150" preserveAspectRatio="none")
    polygon(points="0,150 1000,150 1000,0")
  .c-section-title.c-section-title--works
    svg.c-section-title__img
      use(xlink:href="assets/images/sprite.svg#icons--works_header") 
    h2.c-section-title__text Мои работы
  .work-content
    .work-content__right
    .work-content__left
section.review
    
