section.l-section.l-works.js-section-two
  svg.c-triangle.c-triangle__left.c-triangle--works(viewbox="0 0 1000 150" preserveAspectRatio="none")
    polygon(points="0,0 0,150 1000, 150")
  svg.c-triangle.c-triangle__right.c-triangle--works(viewbox="0 0 1000 150" preserveAspectRatio="none")
    polygon(points="0,150 1000,150 1000,0")
  .c-section-title.c-section-title--works
    svg.c-section-title__img
      use(xlink:href="assets/images/sprite.svg#icons--works_header") 
    h2.c-section-title__text Мои работы
  .l-works__content#slider
    .l-works__col_left
      .l-works__wrapper.l-works__wrapper--left
        .c-slider__image-wrapper.js-slider-display
          img.c-slider__image.js-slider-display-img(src="assets/images/resume.jpg" alt="project-image" title="project-image")
        .c-work
          .c-block-title__wrapper
            .c-block-title.c-block-title--undefined
                h4.c-block-title__text.js-slider-subtitle Личный сайт Веселова Евгения               
          p.c-work__tehnologes.js-slider-tehnologes HTML5, CSS3, PUG, STYLUS, JAVASCRIPT
          a.c-work__link.js-slider-site(href="https://www.google.com" target="_blank")
            span.c-work__link-text Посмотреть сайт
            svg.c-work__link-icon
              use(xlink:href="assets/images/sprite.svg#icons--link")
    .l-works__col_right
      .c-slider.l-works__wrapper.l-works__wrapper--right
        .c-slider-list
          a.c-slider-list__link.js-slider-bth--left
            ul.c-slider-list__list.js-slider-list
              li.c-slider-list__item.js-slider-item(data-full="assets/images/resume.jpg" data-title="my website" data-skills="HTML5, CSS3, PUG, STYLUS, WEBPACK, JQUERY" data-link="#")
                img.c-slider-list__image(src="assets/images/resume.jpg" alt="resume" title="resume")
              li.c-slider-list__item.js-slider-item(data-full="assets/images/fiato.jpg" data-title="Fiato group" data-skills="HTML5, CSS3, SASS, GULP, JAVASCRIPT" data-link="#")
                img.c-slider-list__image(src="assets/images/fiato.jpg" alt="fiato" title="fiato")
              li.c-slider-list__item.js-slider-item(data-full="assets/images/jason-wood.png" data-title="Portfolio Jason Wood" data-skills="HTML5, CSS3, PUG, STYLUS, WEBPACK, JQUERY" data-link="#")
                img.c-slider-list__image(src="assets/images/jason-wood.png" alt="jason-wood" title="jason-wood")
              li.c-slider-list__item.js-slider-item.active(data-full="assets/images/gel.jpg" data-title="Gelion" data-skills="HTML5, CSS3, PUG, STYLUS, GULP, JQUERY" data-link="#")
                img.c-slider-list__image(src="assets/images/gel.jpg" alt="Gelion" title="Gelion")
            .c-slider-arrow
              svg.c-slider-arrow__img
                use(xlink:href="assets/images/sprite.svg#icons--arrow_down")
      
          a.c-slider-list__link.js-slider-bth--right
            ul.c-slider-list__list.js-slider-list
              li.c-slider-list__item.js-slider-item(data-full="assets/images/resume.jpg" data-title="my website" data-skills="HTML5, CSS3, PUG, STYLUS, WEBPACK, JQUERY" data-link="#")
                img.c-slider-list__image(src="assets/images/resume.jpg" alt="resume" title="resume")
              li.c-slider-list__item.js-slider-item.active(data-full="assets/images/fiato.jpg" data-title="Fiato group" data-skills="HTML5, CSS3, SASS, GULP, JAVASCRIPT" data-link="#")
                img.c-slider-list__image(src="assets/images/fiato.jpg" alt="fiato" title="fiato")
              li.c-slider-list__item.js-slider-item(data-full="assets/images/jason-wood.png" data-title="Portfolio Jason Wood" data-skills="HTML5, CSS3, PUG, STYLUS, WEBPACK, JQUERY" data-link="#")
                img.c-slider-list__image(src="assets/images/jason-wood.png" alt="jason-wood" title="jason-wood")
              li.c-slider-list__item.js-slider-item(data-full="assets/images/gel.jpg" data-title="Gelion" data-skills="HTML5, CSS3, PUG, STYLUS, GULP, JQUERY" data-link="#")
                img.c-slider-list__image(src="assets/images/gel.jpg" alt="Gelion" title="Gelion")
          
            .c-slider-arrow.c-slider-arrow--top
              svg.c-slider-arrow__img
                use(xlink:href="assets/images/sprite.svg#icons--arrow_down")
                            
section.l-section.l-reviews
  .l-reviews__background
    img.js-reviews-bg(src="assets/images/bg-footer.png")
  .c-section-title.c-section-title--reviews
    svg.c-section-title__img
      use(xlink:href="assets/images/sprite.svg#icons--about_header")
    h2.c-section-title__text Что обо мне говорят        
  ul.l-reviews-list
    li.c-reviews-item
      i.c-reviews-item__icon
      p.c-reviews-item__text обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!           
      .c-reviews-hero
        img.c-reviews-hero__img(src="assets/images/dmitriy.jpg" alt="review-hero" title="review-hero")
        .c-reviews-hero__content
          p.c-reviews-hero__name Ковальчук Дмитрий
          p основатель Loftschool
    li.c-reviews-item
      i.c-reviews-item__icon
      p.c-reviews-item__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!            
      .c-reviews-hero
        img.c-reviews-hero__img(src="assets/images/vladimir.jpg" alt="review-hero" title="review-hero")
        .c-reviews-hero__content
          p.c-reviews-hero__name Сабанцев Владимир
          p преподаватель
  form.c-feedback__wrapper.js-feedback-wrapper#feedbackForm(method="post" action="#")
    .c-feedback__bg.js-feedback-bg
    .c-feedback
      .c-feedback__inner
        .c-block-title__wrapper
          .c-block-title.c-block-title--feedback
            h4.c-block-title__text.js-slider-subtitle Связаться со мной
    
        .c-feedback-form
          .c-feedback-form__item
            label.c-feedback-form__lebel
              input.c-feedback-form__input(name="text" type="text" placeholder="Имя" required)
          .c-feedback-form__item
            label.c-feedback-form__lebel
              input.c-feedback-form__input(name="email" type="email" placeholder="Email" required)                            
          .c-feedback-form__item
            label.c-feedback-form__lebel
              textarea.c-feedback-form__textarea(name="textarea" placeholder="Ваше сообщение" required)
      .c-feedback-buttons
        input.c-feedback-button.c-feedback-button--send(type="submit" value="Отправить")
        input.c-feedback-button.c-feedback-button--clear(type="reset" value="Очистить")
  svg.c-arrow.c-arrow--feedback#arrow(viewBox="0 0 25.18 16.164")
    use(xlink:href="assets/images/sprite.svg#icons--arrow_down")