block variables

doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="Vesselov Yevginiy" name="description")
        meta(content="Vesselov Yevginiy website, front-end, portfolio " name="keywords")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel='stylesheet' href='/assets/styles/app.min.css')
        link(rel='stylesheet' href='/assets/styles/foundation.css')
        link(rel="icon" href='/assets/images/favicon.png')
        script(src='assets/scripts/foundation.js' defer)
        script(src='assets/scripts/bundle.js' defer)
      
   
  
       
    body
        block content
  
        